<h1>EAT-DA-BURGER</h1>
<!--Main content-->
<div class="container" id="content-wrapper">
  <div class="row">
    <!--Left side output-->
    <div class="col-xs-3 col-xs-offset-3" id="left-side-output">
      {{#each burgers}}
          {{#unless this.devoured}}
            <form action="/index?_method=PUT" method="POST" class="button-size">
              <div id="inner-form-left">
                <span id="single-burger-left"> {{this.id}}. {{this.burger_name}} </span>
                <input type="hidden" name="id" value="{{this.id}}">
                <button class="btn btn-default left-output-button" type="submit">DEVOUR!!!</button>
              </div>
            </form>
          {{/unless}}
      {{/each}}
    </div>
    <!--Right side output-->
    <div class="col-xs-4" id="right-side-output">
      {{#each burgers}}
        {{#if this.devoured}}
          <div id="single-burger-right">
            {{this.id}}. {{this.burger_name}} has been devoured!
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<div class="row submit-area">
  <div class="col-xs-12">
    <form method="POST" action="/index" class="button-size">
    	<textarea id="userBurger" type="text" name="burger_name" maxlength="30" autofocus></textarea>
      <br>
    	<button class="btn btn-default" id="submit-button" type="submit">Submit</button>
      <p id = "submit-text">Enter a burger that you want to devour, and press the "Submit" button!</p>
    </form>
  </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>

<!-- Function to stop blank submit -->
<script>
    $("#submit-button").on("click", () => {
      if ($("#userBurger").val().length === 0) {
        alert("You need to enter a burger before submitting!");
        return false;
      };

      return true;
    });
</script>
